h1, h2, h3,h4,h5,h6, p, ul, li, body,a{
    margin:0px;
    padding:0px;
    font-family: verdana;
}
/*classes de padronização*/
.titulo{
	font-size: 70px;
	font-weight: bold;
	margin-bottom: 50px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.decoracao{
	width: 100%;
	height: 50px;
	padding-top:6px;
	box-sizing: border-box;
	background-color: #a51e36;
}
.borda-dashed{
	width: inherit;
	height: 36px;
	border-top: dashed 1px #c9b88b;
	border-bottom: dashed 1px #c9b88b;
}
.separador{
	width: 100px;
	height: 100px;
	position: relative;
	top: -32px;
}
.separador img{
	width: inherit;
	height: inherit;
}
.texto{
	font-size: 22px;
	line-height: 1.5;
}
.conteudo,
.conteudo-cms,
.conteudo-header{
	width: 100%;
	max-width: 1500px;
    height: inherit;
}

.center{
    margin-left: auto;
    margin-right: auto;
}
.texto-center{
	text-align:center;
}
.texto-right{
	text-align:right;
}
.preco{
	color:#000;
	font: 20px;
	font-weight: bold;
}
.preco-antigo,.preco-novo{
	font-size: 16px;
	font-weight: bold;
	color:#999999;
	text-transform: uppercase;
	text-decoration: line-through;
}
.preco-novo{
	text-decoration: none;
	font-size: 20px;
	color: #ff0000;
}
.sub-titulo{
	font-size: 35px;
	color: #000;
}
.margem-media-direita{
	margin-right: 80px;
}
.margem-pequena-baixo{
	margin-bottom: 40px;
}
.margem-media-baixo{
	margin-bottom: 80px;
}
.botao{
	width: 245px;
	height: 50px;
	border:0;
	background-color: #a51e36;
	float: left;
	font-size: 16px;
	color:#fff;
}
.table-head{
	background-color: #444;
}
.botao:hover{
	background-color: #8a1d1d;
	cursor: pointer;
	transition: 0.5s;
}
.negrito{
	font-weight: bold;
}
.texto-branco{
	color:#fff;
}
/*	cabeçalho	*/
#cabecalho{
    width: 100%;
    height: 60px;
    background-color: #a51e36;
	border-bottom: solid 2px #000000;
    position: fixed;
    z-index: 1;
}
.estrutura-auxiliar{
	width: 100%;
	height: 60px;
}

.logo{
	width: 170px;
	height: 170px;
	position: absolute;
    float:left;
    margin-right: 30px;
    box-sizing: border-box;
    /*padding-top: 10px;*/
}
img{
    width: inherit;
    height: inherit;
}
#navigation{
    width: 100%;
	min-width: 100px;
	max-width: 800px;
    height: inherit;
    float:left; 
}
#menu-mobile{
	display: none;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	padding: 13px;
}
#menu-mobile img{
	width: 35px;
	height: 35px;
}
nav .menu{
    width: inherit;
    height: inherit;
    float: left;
	padding-left: 250px;
    list-style: none;
    box-sizing: border-box;

}
nav .menu a{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: inherit;
	height: 60px;
	box-sizing: border-box;
	padding-top: 23px;
}
nav .menu_itens{
    font-size: 14px;
    width: 130px;
    height: 60;
    text-align: center;
    box-sizing: border-box;
    float: left;
	color: #ffffff;
    margin-right: 5px;
}
nav .menu_itens img{
    width: 10px;
    height: 10px;
    margin-left: 5px;
}
nav .menu_itens:hover{
    cursor: pointer;
	background-color:#7A2020;
}
.menu-dropdown{
	width: 200px;
	height: auto;
	min-height: 60px;
	background-color: #7A2020;
	list-style: none;
	position: absolute;
	top: 40px;
	visibility: hidden;
	opacity: 0;

}
.menu-dropdown-itens{
	width: 200px;
	height: 60px;
	text-align: center;
	box-sizing: border-box;
}
.menu-dropdown-itens a{
	padding-top: 0px;
}
.menu-dropdown-itens:hover{
	background-color:#911919;
}
nav .menu_itens:hover > .menu-dropdown {
	visibility: visible;
	top: 60px;
	transition: 0.5s;
	opacity: 1;
}
.login{
	width: 100%;
	max-width: 500px;
    height: inherit;
	float: right;
	
}
.login-tablet{
	width: 60px;
	height: 60px;
	float: right;
	display: none;
}
.login-tablet img{
	width: 45px;
	height: 45px;
}
.login-tablet:hover{
	background-color: rgba(255, 255, 255, 0.329);
}
.login-tablet:hover > .login{
	display:block;
}

.usuario,.senha{
	width: 100%;
	max-width: 220px;
    height: inherit;
    float: left;
    box-sizing: border-box;
    padding-top: 2px;
    color: #ffffff;
}

#caixaUsuario,#caixaSenha{
	max-width: 200px;
	width: 100%;
    height: 30px;
    border-radius: 10px;
}
.caixaBotao{
    width: 60px;
    height: inherit;
    float: left;
    box-sizing: border-box;
    padding-left:5px;
    padding-top: 20px;
}
.botaoLogin{
    width: 37px;
    height: 37px;
    background-color:#ffffff;
    color:#000000;
    border-radius: 10px;
    outline: 0;
    cursor: pointer;
}


/*	Conteudo (slider)	*/
#slider{
    width: 100%;
    height: 450px;
    padding-top: 140px;
	padding-bottom: 100px;
	background-image: url('../img/floresta2.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#slider h2{
	display: none;
}
#slider .conteudo{
    background-color: #fff;
}
#corpo_slider {
    width: 100%;
    height:450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
#corpo_slider h2{
	display: none;
}
.slideshow {
	height:450px;
	background-color: #CCC;
	overflow: hidden;
}
.slideshowarea {
	width: 100000px;
	height: 450px;
	background-color: #DDD;
	transition:all 1s;
}
.slide {
	height: 450px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}
.slideinfo {
	height: 70px;
	background-image:url('../images/slideshow_bg.png');
	background-size: auto 70px;
	margin-top: 430px;
}
.slideinfo_titulo {
	font-size: 40px;
	color: #FFF;
	padding-top: 15px;
	padding-left: 15px;
}
.slideinfo_subtitulo {
	font-size: 13px;
	color:#FFF;
	padding-left: 15px;
}
.slide_selection {
	position:absolute;
	width:300px;
	height:inherit;
    padding-left: 5px;
	padding-top: 10px;
    box-sizing: border-box;
	
}
.selector {
	width:30px;
	height:30px;
	float:left;
	margin-right:10px;
	cursor:pointer;
	background-color:#d9d9d9;
	border-radius:15px;
}


/*	Conteudo (tela principal de produtos)	*/

#corpo{
    width: 100%;
    height: auto;
    min-height: 750px;
}
#corpo h2{
	display: none;
}
#corpo .conteudo{
    background-color: #f8f9fa;
}
#seta{
	width: 80px;
	height: 240px;
	float: right;
	position: fixed;
	right: 20px;
	top:300px;
	display: none;
}
.icon-rede-social{
	width: inherit;
	height: 80px;
	box-sizing: border-box;
	padding: 8px;
}
.icon-rede-social img{
	width: inherit;
	height: inherit;
}
.menu_vertical{
	width: 100%;
	max-width: 250px;
    height: inherit;
    background-color:#ffffff;
    float: left;
	
}
.menu_vertical_caixa{
    width: 240;
    height: auto;
    min-height: 80px;
    list-style: none;
    box-sizing: border-box;
}
.menu_vertical_itens{
    width: inherit;
    height: 50px;
    background-color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    cursor: pointer;
}
.menu_vertical_itens:hover{
    background-color: #e8e8e8;
    color:#000000;
}
.menu_vertical_itens:hover > .sub_menu{
	display: block;
}
.menu_vertical_itens a{
	width: 100%;
	height: 100%;
	display: block;
}
.menu_vertical_itens a:hover >.sub_menu{
    display: block;
}
.menu_vertical_itens a:hover > .seta_direita{
    transform-origin: center;
    transition: 0.5s;
    transform: rotate(90deg);
}
.menu_vertical_itens img{
    width: 10px;
    height: 10px;
    margin-left:10px;
}
#menu-para-celular{
	width: 250px;
	height: 100vh;
	background-color: #ccc;
	visibility: hidden;
	border-right:solid 2px #000;
	position: absolute;
	top: 60px;
	left: -250px;
	transition: 300ms;
}

.caixa-menu-celular{
	width: 100%;
	height: 100%;
	background-color: #a51e36;
	list-style: none;
	border-top: solid 0.5px #802435;
}
.item-menu-celular{
	width: 100%;
	height: 60px;
	background-color: #a51e36;
	display: flex;
	border-bottom: solid 0.5px #802435;
	
	
}
.item-menu-celular a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 16px;
	color:#fff;
	text-decoration: none;
}

.sub_menu{
    width: 200px;
    min-height: 50px;
    height: auto;
    list-style: none;
    position: relative;
    left: 248px;
    top: -35px;
    display: none;
}
.sub_menu_itens{
    width: inherit;
    height: 50px;
    box-sizing: border-box;
    padding-top: 15px;
    background-color: #e8e8e8;
    
}
.sub_menu_itens:hover{
    background-color:#ededed;
	text-decoration: underline;
}

.produtos,.produtos-com-desconto{
	width: 100%;
	max-width: 1000px;
    height: inherit;
    float: left; 
    box-sizing: border-box;
    padding-top: 120px;
    padding-left:10px;
}
.caixa_produto{
	width: 100%;
	max-width: 310px;
	height: auto;
    min-height: 400px;
    margin-left: 20px;
    margin-bottom: 30px;
    float: left;
    border:2px solid #ededed;
    box-sizing: border-box;
    padding-top: 15px; 
	background-color: #ffffff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.caixa_produto:hover, .card-itens-promocoes:hover{
    transform: translateY(-10px);
    transition: 0.2s;
    box-shadow: 0px 5px 15px #cfcfcf;
    cursor:pointer;
}
.img_produto{
    width: 250px;
    height: 250px;
    margin-bottom: 15px;
}
.img_produto img{
    width: inherit;
    height: inherit;
    background-color: #ffffff;
}
.desc_produto{
    width: inherit;
    min-height: 135px;
	height: auto;
    box-sizing: border-box;
	border-radius: 10px;
	padding-top: 10px;
	color:#000000;
	display: flex;
	flex-direction: column;
	
}
.desc_produto ul{
    width: inherit;
	height: inherit;
	list-style: none;
	display:flex;
	flex-direction: column;
	align-items:flex-end;
}
.desc_produto li{
    width: 94%;
	font-size:14px;
    height: auto;
    margin-bottom: 8px;
    min-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	color:#000000;
}
.desc_produto .detalhes{
    text-align: center;
	background-color: #a51e36;
	width: 80px;
	height: 30px;
	box-sizing: border-box;
	padding-top: 5px;
	margin-bottom: 0px;
	border-radius: 5px;
	color:#ffffff;
	display: flex;
}
.detalhes{
	margin-right: 5px;
	margin-bottom: 5px;
}
.detalhes:hover{
	background-color: #8a1d1d;
	transition: 0.5s;
}

/*	Conteudo (pagina SOBRE)	*/

.sobre,
.sobre2{
	width: 100%;
	height: auto;
	min-height: 670px;
	background-image: linear-gradient(to bottom,#b9e6a0,#E2F8AF);
	padding-top: 60px;
	box-sizing: border-box;

}
.sobre2{
	background-image: unset;
}
.sobre h2,
.sobre2 h2{
	display: none;
}
.img_principal_sobre,
.img_principal_sobre_right{
	width: 500px;
	height: 500px;
	float: left;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.img_principal_sobre_right{
	float: right;
}
.img_principal_sobre img{
	width: inherit;
	height: inherit;
}
.titulo_sobre_caixa{
	width:960px;
	height: inherit;
	float: left;
	box-sizing: border-box;	
}
.titulo_sobre_caixa .titulo{
	width: 960px;
}
.titulo_sobre_caixa .texto{
	width: 960px;
	text-align: justify;
}
#sobre_origem{
	width: 100%;
	height: 700px;
}
#sobre_origem h2{
	display: none;
}
.img_origem_sobre{
	width: 500px;
	height: 500px;
	background-image: url(../img/sao-paulo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	float: right;
}
.caixa_origem_sobre{
	width: 1000px;
	height: inherit;
	float: left;
	box-sizing: border-box;
	padding-top: 60px;
}
/* curiosidades */

.conteudo-sem-bg{
	width: 100%;
	height: auto;
	min-height:500px;
	background-image: linear-gradient(to bottom,#b9e6a0,#E2F8AF);
	padding-top: 60px;
	box-sizing: border-box;
}
.conteudo-sem-bg h2{
	display: none;
}
.conteudo-sem-bg .titulo{
    text-align: center;
}
.conteudo-sem-bg .texto{
    text-align: center;
}

#numero_um{
    width: 100%;
	height: auto;
    min-height: 750px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 50px;
}
#numero_um h2{
	display: none;
}
.curiosidades_imagens_container{
    width: 1150px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.curiosidades_imagem_caixa{
    width: 350px;
    height: 350px;
    float: left;
    background-color: #ccc;
}
.frutas-container{
	width: 1200px;
	height: inherit;
}
.frutas{
	width: 390px;
	height: 390px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
}
.frutas:hover > .opacidade{
	visibility: visible;
	background-color: rgba(255,255,255,0.7);
	transition: 1s;
}
.opacidade,.opacidadebg{
	width: inherit;
	height: inherit;
	background-color: rgba(255,255,255,0);
	box-sizing: border-box;
	padding-top: 150px;
	visibility: hidden;
}
.opacidadebg{
	height: 1340px;
	height: inherit;
	background-color: rgba(0,0,0,0.3);
	padding-top: 0px;
	visibility: visible;
}
.opacidade .titulo{
	font-size: 50px;
}
.conteudo-com-bg{
	width: 100%;
	height: auto;
	min-height: 800px;
	background-size: cover;
	background-position: center;
	padding-top: 60px;
	box-sizing: border-box;
}
.conteudo-com-bg h2{
	display: none;
}
.caixa-titulo,
.caixa-titulo-2{
	width: 700px;
	height: auto;
	float: right;
}
.caixa-titulo-2{
	float: left;
}
.caixa-texto,
.caixa-texto-2{
	width: 700px;
	height: auto;
	clear: both;
	float: right;
	clear: both;
}
.caixa-texto-2{
	float: left;
}
/*LOJAS*/

#localizador{
    width: 100%;
    height: 360px;
    background-image: linear-gradient(to bottom,#b9e6a0,#E2F8AF);
}
#localizador h2{
	display: none;
}
.caixa_texto_localizador{
    width: 550px;
    height: inherit;
    box-sizing: border-box;
    padding-top: 150px; 
    padding-left: 30px;
	float:left;
	font-weight: bold;
    
}
.caixa_seletor_localizacao .img{
	width: 40px;
    height: 40px;
	padding: 5px;
	background-color: #ccc;
    box-sizing: border-box;
    background: url('../cms/icon/filter.png');
    background-size: cover;
    padding: 12px;
}
.caixa_seletor_localizacao .img:hover{
	cursor: pointer;
}
.titulo2{
    font-size: 22px;
    margin-bottom: 20px;
}
.texto_pequeno{
    font-size: 18px;
}
.caixa_seletor_localizacao{
    width: 950px;
    height: inherit;
    box-sizing: border-box;
    float: left;
    padding-left: 50px;
    padding-top: 145px;
}
#seletor_estado,#seletor_cidade{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-family: verdana;
    border:solid 2px #000;
    margin-right: 10px;
}
#seletor_cidade{
    width: 400px;
}


#lojas{
    width: 100%;
    height: auto;
    min-height: 500px;
    box-sizing: border-box;
    padding-top: 50px;
	background-color: #e6e7e8;
}
#lojas h2{
	display: none;
}
#lojas a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 245px;
	height: 60px;
	box-sizing: border-box;
	padding-top: 15px;
}
#lojas .conteudo{
	width: 1100px;
	height: inherit;
	display: flex;
	flex-wrap: wrap;
}
.caixa_lojas{
    width: 330px;
	height: auto;
    min-height: 360px;
    background-color:#fff;
    box-sizing: border-box;
    padding-top:15px;
    padding-left:10px;
	padding-bottom: 10px;
    border-radius: 10px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    /*box-shadow: 1px 1px 1px #999;*/
}
.caixa_lojas:hover{
	transform: translateY(-10px);
    transition: 0.2s;
    box-shadow: 0px 5px 15px #cfcfcf;
}
.icone-localizar{
	width: 50px;
	height: 50px;
	background-image: url('../icon/icon-local.png');
	background-position: center;
	background-size: cover;
	margin-right: 5px;
	float: left;
}
.linha-vertical{
	width: 1px;
	height: 95%;
	min-height: 330px;
	background-color: #999;
	float: left;
	margin-right: 10px;
	
}
.titulo-loja{
	width: 250px;
	height: auto;
	min-height: 22px;
	font-size: 22px;
	font-weight: bold;
	color:#b32525;
	float: left;
	margin-bottom: 20px;
	
}
.endereco-lojas{
	width: 230px;
	height:200px;
	float: left;
	box-sizing: border-box;
	padding-top: 25px;
	margin-bottom:10px;
}
.endereco-lojas div {
	margin-bottom: 6px;
}
/*DESTAQUES DO MÊS*/
#destaque{
	width: 100%;
	height: auto;
	min-height: 900px;
	padding-top: 200px;
	background-image: url(../img/floresta.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	box-sizing: border-box;
}
#destaque .titulo{
	color: #fff;
}
#destaque h2{
	display: none;
}
.card-destaque{
	width: 600px;
	height: 350px;
	border-radius: 20px;
	background-color:rgba(255,255,255,0.8);
	box-sizing: border-box;
	padding-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
}
.card-destaque .texto{
	font-size: 30px;
	margin-bottom: 30px;
}
#produtos-destaque{
	width: 100%;
	height: auto;
	min-height: 800px;
	background-color: #ffffff;
	box-sizing: border-box;
	padding-top: 80px;
}
#produtos-destaque h2{
	display:none;
}
#produtos-destaque a{
	width: inherit;
	height: inherit;
	display: block;
	box-sizing: border-box;
	padding-top: 14px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color:#ffffff;
}
.itens-container{
	width: 1000px;
	height: auto;
	min-height: 350px;
	display: flex;
	justify-content: space-between;
	
}
.card-itens{
	width: 320px;
	height: 350px;
	float: left;
	border-radius: 10px;
}
.card-itens img{
	width: inherit;
	height: inherit;
	border-radius: 10px;
}
.produto-em-destaque{
	width: inherit;
	height: auto;
	min-height: 350px;
}
.desconto{
	width: 80px;
	height: 80px;
	background-image: url(../img/20-off.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	bottom: 84px;
	left: 240px;
	
}
/*promoções*/
#promocoes{
	width: 100%;
	height: 500px;
	padding-top:150px;
	box-sizing: border-box;
	background-image: linear-gradient(to bottom,#b9e6a0,#E2F8AF);
}
#promocoes h2 {
	display: none;
}
.imagem-promocoes{
	width: 600px;
	height: 350px;
	background-image: url(../img/desconto.png);
	background-size: cover;
	float: left;
}
.txt-promocoes{
	width: 580px;
	height: 300px;
	float: right;
	box-sizing: border-box;
	padding-top: 60px;
}
#produtos-desconto{
	width: 100%;
	height: auto;
	min-height: 600px;
}
#produtos-desconto h2{
	display: none;
}
.produtos-com-desconto{
	float: none;
}
/*contatos*/
#contato{
	width: 100%;
	height: 1400px;
	box-sizing: border-box;
	background-image: url(../img/contatobs.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#contato h2 {
	display: none;
}
.caixa-contato{
	width: 1000px;
	height: 1160px;
	box-sizing: border-box;
	padding-top: 50px;
	padding-left: 10px;
	background-image: url(../img/formbg.png);
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	border-top-left-radius: 10px;
	border-top-right-radius:10px; 
	border-bottom-left-radius:10px; 
	border-bottom-right-radius: 10px;
}
.itens-formulario,.itens-formulario-btn{
	width: inherit;
	height: 100px;
}
.itens-formulario-btn{
	width: 245px;
	height: 50px;
	box-sizing: border-box;
	position: relative;
	left:360px;
}
.nome-campo{
	width: 250px;
	height: inherit;
	float: left;
	box-sizing: border-box;
	padding-top: 5px;
}
.campo,.campo-txt-area{
	width: 700px;
	height: inherit;
	float: right;
	box-sizing: border-box;
	padding-top: 34px;
}
.campo{
	padding-top: 10px;
}
.titulo-forumario{
	width: 250px;
	height: 50px;
	border-radius: 10px;
	background-color: #a51e36;
	padding-top: 15px;
	box-sizing: border-box;
}
.label,.mensagem-label{
	width: 680px;
	height: 30px;
	font-size: 25px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.campo-txt-area{
	padding-top: 0px;
}
.mensagem-label{
	height: 90px;
	resize: none;
}
/*cadastrou*/
#cadastrou{
	width: 100%;
	height: 525px;
	padding-top: 250px;
}
#cadastrou h2 {
	display: none;
}
#cadastrou .conteudo{
	height: 500px;
}
.botao-voltar{
	width: 300px;
	height: 60px;
	border-radius: 15px;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
	background-color: #a51e36;
}
.botao-voltar a {
	width: inherit;
	height: inherit;
	display: block;
	box-sizing: border-box;
	padding-top: 19px;
	color: #fff;
	text-decoration: none;
}
/*sistema interno*/
#sistema-int{
	width: 100%;
	height: 700px;
	padding-top: 150px;
}
#sistema-int h2{
	display: none;
}
.gif{
	width: 500px;
	height: 500px;
	background-image: url('../img/gifs/eng.gif');
	background-position: center;
	background-size: cover;
}
.gif img{
	width: inherit;
	height: inherit;
}
/*	rodapé	*/
#rodape{
    width: 100%;
    height: 160px;
    float: left;
	background-color: #a51e36;
	border-top: 2px solid #000;
}
#rodape .sistema_interno a, #rodape .aplicativo a{
	width: inherit;
	height: inherit;
	display: block;
	text-decoration: none;
	color:#a51e36;
	box-sizing: border-box;
	padding-top: 18px;
}
#rodape .sistema_interno a{
	padding-top: 26px;
}
.sistema_interno{
    width: 325px;
    height: inherit;
    float:left;
    box-sizing: border-box;
	
	display:flex;
	align-items: center;
	justify-content: center;
}
#btn_sistema_interno{
    width: 240px;
    height: 80px;
    cursor: pointer;
	border: 0px;
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #a51e36;
	
}

#btn_sistema_interno:hover{
	background-color: #d9d9d9;
}

.endereco{
	width: 100%;
	max-width: 850px;
    height: inherit;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding-top: 130px;
    color: #ffffff;
}
.aplicativo{
    width: 325px;
    height: inherit;
    float: left;
    box-sizing: border-box;
}
.app_img{
    width: 100px;
    height: inherit;
    box-sizing: border-box;
    padding-top: 45px;
    padding-left: 35px;
    margin-right: 5px;
    float: left;
}
.app_img img{
    width: 60px;
    height: 70px;
}
.app_botao{
    width: 325px;
    height: inherit;
    box-sizing: border-box;
    padding-top: 50px;
}
#btn_app{
    width: 200px;
    height: 60px;
    cursor: pointer;
	border:0px;
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #a51e36;
	float: left;
}
#btn_app:hover{
	background-color: #d9d9d9;
}
/* RESPONSIVO */
/* HOME */

@media only screen and (min-width:1117px) and (max-width:1500px){

	.conteudo,
	.conteudo-header {
		max-width:1100px;
	}
	nav .menu{
		max-width: 650px;
		
		
	}
	.usuario,.senha{
		max-width: 160px;
	}
	#caixaUsuario,#caixaSenha{
		max-width: 130px;
	}
	.login{
		max-width: 380px;
	}
	.logo{
		width: 110px;
		height: 110px;
		margin-right:0px;
	}
	nav .menu{
		padding-left: 110px;
	}
	.menu_vertical{
		max-width: 200px;
	
	}
	.caixa_produto{
		max-width: 275px;
		min-height: 350px;
	}
	.login .caixaBotao{
		padding-left: 0px;
	}
	.img_produto{
		width: 200px;
		height: 200px;
	}
	.produtos{
		max-width: 900px;
	}
	.endereco{
		max-width: 450px;
	}
	#seta{
		right: 5px;
		top:260px;
		z-index:9999999999;
	}
	.sub_menu{
		left:200px ;
	}
}
@media only screen and (min-width:786px) and ( max-width:1117px){
	.conteudo,
	.conteudo-header {
		max-width:768px;
	}
	.conteudo-header{
		max-width: 100%;
	}
	.logo{
		display: none;
	}
	nav .menu{
		padding-left: 0px;
		display: none;

	}
	#menu-mobile{
		display: block;
		float: left;
		
	}
	#caixaUsuario,#caixaSenha{
		max-width: 130px;
	}
	.login{
		max-width: 170px;
		height: 150px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		background-color: #a51e36;
		padding-left: 5px;
		box-sizing: border-box;
		visibility: hidden;
		border-bottom-left-radius: 10px;
		position: absolute;
		top:60px;
		right: 100px;
	}
	.usuario,.senha{
		height: 60px;
	}
	.logo{
		width: 110px;
		height: 110px;
		margin-right:0px;
	}
	.login .caixaBotao{
		padding-left: 0px;
		background-color: #a51e36;
		border-bottom-right-radius: 10px;
	}
	.login-tablet{
		display: flex;
		justify-content: center;
		align-items: center;
		display: block;
	}
	.menu_vertical{
		max-width:inherit ;
		margin-top: 50px;
		background-color: unset;
		
		border-bottom: solid 2px #999999;
		
	}
	.menu_vertical_caixa{
		display: flex;
		align-items: center;
		justify-content: center;
		border-right: unset;
	}
	.menu_vertical_itens{
		width: 200px;
	}
	.sub_menu{
		left: 0px;
		top: 15px;
	}
	.sistema_interno{
		width: 200px;
	}
	.aplicativo{
		width: 150px;
	}
	.app_botao{
		width: inherit;
	}
	.app_img{
		display: none;
	}
	#btn_sistema_interno{
		width: 180px;
		font-size: 15px;
		
	}
	#btn_app{
		width: 130px;
	}
	.endereco{
		max-width: 418px;
	}
}
@media only screen and (max-width:785px){
	.conteudo,
	.conteudo-header {
		max-width:320px;
	}
	.conteudo-header{
		max-width: 100%;
	}
	.logo{
		display: none;
	}
	nav .menu{
		width: 150px;
		height: 400px;
		padding: 0;
		display: none;
		float: left;
		background-color: #a51e36;
		position: relative;
		top:60px;
		left: -60px;
	}
	nav .menu_itens{
		width: inherit;
		height: 60px;
		min-height: unset;
	}
	.menu-dropdown{
		width: 150px;
		height: auto;
		min-height: 60px;
		background-color: rgb(201, 170, 170);
		list-style: none;
		
		position: relative;
		top:-60;
	}
	.menu-dropdown-itens{
		width: 150px;
		height: 50px;
		padding: 0;
		position: relative;
	}
	
	#menu-mobile{
		display: block;
		float: left;
		
	}
	.menu_vertical{
		max-width:inherit ;
		margin-top: 50px;
		background-color: unset;
		border-bottom: solid 2px #999999;
	}
	.menu_vertical_caixa{
		display: flex;
		align-items: center;
		justify-content: center;
		border-right: unset;
	}
	.sub_menu{
		left: 0px;
		top: 15px;
	}
	.endereco{
		display: none;
	}
	.sistema_interno{
		width: 130px;
		float: left;
	}
	#btn_sistema_interno{
		width: 130px;
		font-size: 15px;
		
	}
	.app_botao{
		width: 150px;
	}
	.aplicativo{
		float: right;
		width: 150px;	
	}
	#btn_app{
		width: inherit;
	}
	.app_botao a{
		width: inherit;
	}
	.menu_vertical_itens{
		width: 130px;
	}
	.sub_menu_itens{
		width: 130px;
	}
	.login{
		max-width: 170px;
		height: 150px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		background-color: #a51e36;
		position: relative;
		right: 60px;
		top: -7px;
		box-sizing: border-box;
		visibility: hidden;
		border-bottom-left-radius: 10px;
		
	}
	.app_img{
		display: none;
	}
	.caixa_produto{
		margin-left: auto;
		margin-right: auto;
	}
	.produtos{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0;
	}
	.sistema_interno{
		display: none;
	}
	#rodape .conteudo{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.aplicativo{
		float: none;
	}
}