/**************************CMS*************************/
#cms{
    width: 100%;
    height: 700px;
    /*min-height: 1150px;*/
}
.cms-estrutura,.estrutura-adm-conteudo{
    width: inherit;
    height: inherit;
    border: solid 2px #000;
    clear: both;
}
.cms-header{
    width: 1504px;
    height: 200px;
    background-color: #a51e36;
    border-bottom: solid 2px #000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    border:2px solid #000000; 
}
.cms-header .titulo{
    float: left;
    height: 198px;
    margin-bottom: 0px;
    margin-right: 10px;
    padding-top: 50px;
    box-sizing: border-box;
}
.cms-header .sub-titulo{
    width: auto;
    height: 198px;
    margin-bottom: 0px;
    float: left;
    box-sizing: border-box;
    padding-top: 70px;
}
.cms-nav{
    width: inherit;
    height: 150px;
    border-left: solid 2px #000;
    border-right: solid 2px #000;
}
.cms-conteudo{
    width: inherit;
    height: 730px;
    box-sizing: border-box;
    clear: both;
    padding-top: 50px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.cms-footer{
    width: 1504px;
    height: 68px;
    border-bottom-left-radius:15px; 
    border-bottom-right-radius:15px;
    border: solid 2px #000000;
    box-sizing: border-box;
    padding-top: 24px;
    background-color: #a51e36;
    clear: both;
}
.cms-img{
    width: 300px;
    height: 198px;
    float: right;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 30px;
}
.disable-adm-conteudo,.disable-adm-users,.disable-adm-contato{
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: no-drop;
}

.cms-img img {
    width: 200px;
    height: 175px;
}
/*barra de navegação do cms*/
.cms-itens,.cms-itens_login{
    width: 300px;
    height: inherit;
    float: left;
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
}
.cms-itens a {
    width: inherit;
    height: inherit;
    display:block;
    text-decoration:none;
    color:#000;
}
.cms-itens:hover{
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    cursor: pointer;
}
.cms-itens-imagens{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.cms-itens .texto,.cms-itens_login .texto{
    font-size: 20px;
}
.cms-itens_login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.bnt-log-out{
    background-color:#a51e36;
    width: 100%;
    height: 30px;
    float: right;
    box-sizing: border-box;
    padding: 5px;
    color:#fff;
    margin-right: 20px;
}
.bnt-log-out:hover{
    cursor: pointer;
    background-color: #8a1d1d;
    transition: 1s;
}
.bnt-log-out a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
/*conteudo central do cms*/

.cms-conteudo-itens{
    width: 400px;
    height: 150px;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 10px;
}
.cms-conteudo-itens:hover{
    cursor: pointer;
    border: solid 1px #000000;
}
.cms-conteudo-itens img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
}
.titulo4{
    width: 250px;
    height: 100px;
    box-sizing: border-box;
    padding-top: 75px;
    text-transform: uppercase;
}
/************************************************************ ADM CONTEUDO PAGINA SOBRE **************************************************/

.editar-sobre{
    width: inherit;
    height:800px;
    border-left:solid 2px #000;
    border-right:solid 2px #000;
    border-top:solid 2px #000;
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}
.editar-sobre .sub-titulo{
    margin-bottom: 20px;
}
.crud-editar-sobre{
    width: 900px;
    height: 600px;
    border-radius: 10px;
    border:solid 1px #ccc;
    box-sizing: 1;
    box-shadow: 3px 3px 3px #ccc;
}
.crud-editar-sobre form {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.formulario-sobre{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: solid 1px #ccc;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    background: rgb(255, 220, 220);
}
.linha-formulario-sobre,
.linha-formulario-sobre-texto,
.linha-formulario-sobre-button{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
.linha-formulario-sobre-texto{
    height: 200px;
}
.linha-formulario-sobre-button{
    display:flex;
    justify-content: center;
}
.btn-editar-conteudo{
    width: 200px;
    height: 50px;
}
.coluna-formulario-sobre-nome-campo{
    width: 30%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
#txt-titulo-sobre{
    width: 80%;
    height: 22px;
    font-size: 20px;
    border:solid 1px #ccc;
    border-radius: 2px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
    outline: 0;
}
#txt-conteudo-sobre{
    width: 80%;
    height: 150px;
    resize: none;
    border:solid 1px #ccc;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
    outline: 0;
    padding: 5px;
}
label#thumbnail{
    border: 1px dashed #777;
    background-image: url('../icon/camera.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
    height: 100px;
    display:flex;
    width: 350px;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
}
label#thumbnail input{
    display: none;
}
.coluna-formulario-sobre{
    width: 65%;
    height: 100%;
    float: right;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* ADM CONTATO */
.estrutura-adm-conteudo{
    min-height: 700px;
    height: auto;
}
.adm-conteudo{
    width: inherit;
    height: 832px;
}
.tabela-contatos{
    width: 1200px;
    height: auto;
    min-height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.thead{
    display: flex;
    background-color: #666;
    font-weight: bold;
    color:#fff;
    font-size: 22px;
    
}
.thead-itens, .tbody-itens{
    width: 400px;
    height: 80px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 27px;
}
.tbody{
    display: flex;
}
.tbody:hover{
    border: solid 1px #000;
}
.tbody-itens, .tbody-itens-icons{
    width: 400px;
    height: 80px;
    font-size: 12px;
    padding-top: 35px;
    box-sizing: border-box;
}
.tbody-itens-icons{
    display: flex;
    box-sizing: border-box;
    padding-top: 30px;
}
.tbody-itens-icons img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
.zebrado{
    background-color: #ccc;
}
.filtro{
    widows: inherit;
    height: 100px;
    box-sizing: border-box;
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filtro h3{
    text-transform: uppercase;
    color:#8a1d1d;
    font-weight: bold;
}
#caixaFiltro{
    width: 400px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
}
.filtro .img{
    width: 40px;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    background: url('../icon/filter.png');
    background-size: cover;
    padding: 12px;
}
.filtro .img:hover{
    cursor: pointer;
}

/************************************** MODAL *******************************************/
    /* classes de padronização MODAL */
.padtop{
    padding-top: 4px;
}
    /*********************************/
#container-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    position: fixed;
    display: none;
}
#modal{
    width: 800px;
    height: 650px;
    border-radius: 8px;
    background-color: rgb(241, 239, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    box-sizing: border-box;
    
}
.visualizar:hover{
    cursor: pointer;
}
#fechar{
    width: 50px;
    height: 60px;
    float: right;
    padding: 5px;
}
#fechar:hover{
    cursor: pointer;
}
#fechar img{
    width: 50px;
    height: 50px;
}
.modalInfo-head{
    width: inherit;
    height: 60px;
    background-color: #8a1d1d;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding-top: 17px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.titulo-modal{
    text-align: center;
    color:#fff;
}
.modalInfo-body{
    width: 600px;
    height: 500px;
    box-shadow: 3px 3px 7px #ccc;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
}
.linha-modal,
.linha-modal-mensagem,
.linha-modal-input{
    width: inherit;
    height: 30px;
    display:flex;
    box-sizing: border-box;
    padding-top: 6px;
    margin-bottom: 10px;
}
.linha-modal-mensagem{
    height: 100px;
}
.linha-modal-input{
    padding: 0;
}
.coluna-modal,
.coluna-campo-modal,
.coluna-modal-mensagem{
    width: 445px;
    height: inherit;
    font-size: 18px;
    margin-right: 10px;
    font-weight: bold;
}
.coluna-campo-modal{
    width: 130px;
}
.coluna-modal-mensagem{
    background-color: rgb(241, 239, 255);
    box-shadow: 3px 3px 7px #ccc;
    height: 85px;
    overflow: auto;
    box-sizing: border-box;
    padding: 5px;
}
.input-modal{
    height: 25px;
    width: 445px;
    font-size: 18px;
    padding-left: 5px;
    box-sizing: border-box;
}
/************************* ADM USUARIOS ********************/
.adm-users-estrutura{
    width: inherit;
    height: auto;
    clear: both;
    /* background-color: khaki; */
    border:solid 2px #000;
}
.adm-users-estrutura .decoracao{
    margin-bottom: 40px;
}
.adm-users-estrutura .sub-titulo{
    text-transform: uppercase;
    letter-spacing: 3;
}
.cadastrarUsuarios, .cadastrarUsuarios form{
    width:inherit;
    height:800px;
    background-color: #fff;
    box-sizing: border-box;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cadastrarUsuarios{
    margin-bottom: 50px;
}
.cadastrarUsuarios .titulo, .cadastrarNivel .titulo, .container_niveis_cadastrados .titulo{
    font-size: 30px;
    margin-bottom: 20px;
}
.cadastrarUsuarios .sub-titulo{
    font-size: 20px;
    margin-bottom: 20px;
}
.tipoDeUsuario{
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
#nivelAdm,#nivelContato,#nivelConteudo{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #a51e36;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nivelAdm:hover > .legenda{
    top:640px;
    opacity:1;
    visibility: visible;
    transition:1s;
}
#nivelContato:hover > .legenda{
    top:640px;
    opacity:1;
    visibility: visible;
    transition:1s;
}
#nivelConteudo:hover > .legenda{
    top:640px;
    opacity:1;
    visibility: visible;
    transition:1s;
}
#nivelAdm img, #nivelContato img, #nivelConteudo img{
    width: 115px;
    height: 115px;
    border-radius: inherit;
}
.legenda{
    width: auto;
    height: 25px;
    display: block;
    position: absolute;
    top:600px;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
}
.formularioCadastroUsuario, .formularioCadastroNivel{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #666;
    background-color: rgb(241, 239, 255);
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}
.formularioCadastroNivel{
    padding: 10px;
    height: 550px;
}
.linhaFormularioCadastro,.linhaFormularioCadastrocheck{
    width: inherit;
    height: 75px;
    display:flex;
}
.linhaFormularioCadastrocheck{
    opacity: 0;
    visibility: hidden;
}
.nomeDoCampo{
    width: 150px;
    height: inherit;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;

}
.valorDoCampo{
    width: 350px;
    height: inherit;
    display: flex;
    
    align-items: center;
}
.cadastroUsuarioInput,
.cadastroUsuarioInput-senha{
    width:310px;
    height:25px;
}
.cadastroUsuarioInput-senha{
    width: 200px;
    margin-right: 10px;
}
#nivelAdm label, #nivelContato label, #NivelConteudo label{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 75px;
}
.nivelAdministrador:hover {
    border:solid 5px #000;
}
.nivelAdministrador:hover{
    cursor: pointer;
}

#ativarNivelAdm, #ativarNivelContato, #ativarNivelConteudo{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
}
.usuarios-cadastrados{
    width: 1200px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 8px #666;
    margin-bottom: 50px;
}
.usuarios-cadastrados .sub-titulo{
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
}
.tabela-usuarios{
    width: 100%;
    height: 95%;
    overflow: auto;
}
.linha-tabela-usuarios,.linha-tabela-niveis{
    width:inherit;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coluna-tabela-usuarios,.coluna-tabela-niveis{
    width: 255px;
    height: inherit;
    display:flex;
    align-items: center;
    justify-content: center;
}
.coluna-tabela-niveis img{
    width: 30px;
    height: 30px;
    margin-right:10px ;
}
.img-menus{
    width: 35px;
    height: 35px;
    margin: 5px;
}
.img-menus img {
    width: inherit;
    height: inherit;
}
.coluna-tabela-usuarios a,
.coluna-tabela-usuarios img{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
.container_cadastro_nivel{
    width: 550px;
    height: 700px;
    padding: 10px;
}
.cadastrarNivel{
    width: inherit;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container_niveis_cadastrados{
    width: 900px;
    height: auto;
    min-height: 500px;
    box-sizing: border-box;
    padding:10px;
}
.formulario_nivel{
    display: flex;
    justify-content: space-between;
}
.niveis_cadastrados{
    width: 100%;
    height: 82%;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #666;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}
#adm-conteudo,
#adm-contato,
#adm-user,
#adm-conteudo-sombra-off,
#adm-contato-sombra-off,
#adm-usuario-sombra-off{
    position: relative;
    bottom:200px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #666;
    border:solid 1px #ccc;
    transition: 200ms;
}
#adm-contato,
#adm-contato-sombra-off{
    bottom:150px;
}
#adm-user,
#adm-usuario-sombra-off{
    bottom: 100px;
}

#adm-conteudo-sombra-off,
#adm-contato-sombra-off,
#adm-usuario-sombra-off{
    box-shadow: none;
    background-color: #fff;
}
#adm-conteudo-sombra-off:hover,
#adm-contato-sombra-off:hover,
#adm-usuario-sombra-off:hover{
    cursor: pointer;
}

label img{
    width: 50px;
    height: 50px;
}
#adm-conteudo:hover,
#adm-contato:hover,
#adm-user:hover{
    cursor: pointer;
}
.zebrado{
    background-color: rgb(236, 237, 247);
}
.sombra-off{
    box-shadow: none;
}
