* {
    font-family:verdana, comimc sans ms;
    font-size:14px;
    color: #00ff00;
}

body {
    margin:0;
    
}

.hello {
    background-color: #CCC;
    width: 500px;
    height: 50px;
    text-align: center;
    margin: auto;
    line-height:50px;
    margin-bottom: 10px
}
h1,h2 {
    color:#000000;
    font-size:26px;
}
.titulos {
    margin:auto;
    text-transform: lowercase;
   /*************  Padroniza o case da font ****************
        uppercase - saida em MAIUCULO.
        lowecase - saida em minusculo.
        capitalize - coloca a primeira letra Em maiúsculo e o resto em minúsculo.
    *********************************************************/
    letter-spacing: 20px;
    /*espaçamento entra as letras*/
    text-shadow: 3px 3px 3px #CCCCCC;
    /*sombreamento do texto, valor1 horizontal, valor2 vertical, valor3 intensidade*/
    /*Cor de fundo:
    ingles
    hexadecimal
    RGB ()
    RGBa ()
    HSL() 
    */
   text-align: center;
}
.textos {
    letter-spacing: ;
    word-spacing:10px ;
    /*************** espaçamento entre palavras ****************/
    line-height:1.5;
    /******** Espaçamento entre linhas, pode ser dado em linha ou em pixels ********/
    width: 460px;
    height: 115px;
    background-color:#333333;
    border:solid 5px #999999;
    /*  borders:
        solid
        dotted
        dashed
        double
        groove
        ridge
    
        Border-radius
        Arredonda as bordas
        */
    border-radius:10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right:20px;
    padding-top:35px;
    
        
}
.textos::first-letter{
    font-weight:bold;
    text-decoration:underline;
    margin-left: 20px;
    /*pseudo elemento para estilizar apenas primeira letra da sentença*/
}
.textos::first-line{
    text-decoration:underline;
    /*pseudo elemento para estilizar apenas primeira linha da sentença*/
}
.titulos::first-letter {
    text-transform:uppercase;
}
.textos::after {
    content: "CLIQUI AQUI";
    color="#000000";
    text-decoration: underline;
}
.textos::before {
    content: "CLIQUI AQUI";
    color="#000000";
    text-decoration: underline;
    /**** adiciona algum conteúdo ****/
}
.textos::selection {
    background-color:blueviolet;
    color:aliceblue;
}
    /*Ctrl D replica a linha selecionada */
.tabela {
    width: 500px;
    height: 1000px;
    border:solid 10px #000000;
    border-radius:5px;
}
.tabela tr {
   width:250px;
}
.tabela tr td {
    height: 250px;
    border: solid 1px #000000 ;
}