ul, li, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

#caixaMenu{
    width: 600px;
    height: 50px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto; 
}
.menu{
    width:inherit;
    height: inherit;
    background-color: aliceblue;
}
.menuItens {
    width: 150px;
    height: inherit;
    background-color: #CCC;
    font-family: verdana;
    color:#000;
    text-align: center;
    padding-top: 15px;
    /*Trava o tamanho original mesmo dando um padding*/
    box-sizing: border-box;
    list-style: none;
}
.menuItens{
    float:left;
}

.menuItens:hover{
    background-color:#000;
    color:#FFF;
    cursor:pointer;
}
.submenu {
    width:150px;
    min-height: 50px;
    height: auto;
    background-color: #999;
    margin-top: 16px;
    display: none;
    
}
.subMenu_itens{
    width: inherit;
    height: 50px;
    background-color:#000000;
    list-style: none;
    color: #ffffff;
    box-sizing: border-box;
    padding: 15px;
    
}
.subMenu_itens:hover {
    background-color: #ccc;
    color:#000;
}
.menuItens:hover > .submenu {
    display: block;
    
}