ul,li,h1,h2,h3,div,body {
    margin:0px;
    padding:0px;
}
* {
    margin:0;
}
#conteudo {
    width:1000px;
    height:250px;
    background-color: #777777;
}
#caixa {
    width:250px;
    height:250px;
    float:left;
    background-color: green;
}
.lista {
    width:300px;
    height:40px;
    background-color: aquamarine;
    padding-left: 10px;
    padding-top: 5px;

}
.lista li{
    margin-left: 20px;
    list-style: url(../icon/icon1.png);
    float:left;
}
.lista li:hover {
    background-color: blue;
    cursor: pointer;
}